<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="/public/css/dailyattend-child.css">
</head>

<body>
        <header>
          <nav class="navbar">
            <ul>
              <li><a href="#home">Home</a></li>
              <li><a href="#contact">Contact</a></li>
              <li><a href="#about">About Us</a></li>
              <li><a href="#support">Support Us</a></li>
            </ul>
          </nav>
        </header>
        
        <div class="container">
          <h2>Daily Attendance Track</h2>
        
          <div class="attendance-container">
            <div class="attendance-table">
              <h3>Child Attendance Field</h3>
              <table>
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Child Number</th>
                    <th>Child Brought By</th>
                    <th>Check-in Time</th>
                    <th>Child Picked By</th>
                    <th>Check-out Time</th>
                    <th>Phone Number</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td><input type="text"></td>
                    <td>
                      <button class="delete-button">Delete</button>
                      <button class="submit-button">Submit</button>
                    </td>
                  </tr>
                  <!-- Additional rows can be added here for more data entry -->
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        
        <footer>
          <p>&copy; 2024 Dailycare</p>
        </footer>
        
</body>
</html>